.DS_Store
.venv/
.venv-1/
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/
.python-version
env/
venv/
ENV/
.Python
.idea/
.vscode/
*.log
*.sqlite3
*.sqlite
pip-log.txt
pip-delete-this-directory.txt
coverage.xml
htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage
.cache
.mypy_cache/
.pyre/
.pytype/
.ipynb_checkpoints/
*.ipynb
.env
.env.*
.DS_Store

